.html{
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
::before,
::after{
  box-sizing: inherit;
}

body{
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  box-shadow: 1px 1px 11px 2px #00000014;
}
header nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

header nav a{
  border: none;
  text-decoration: none;
  height: 40px;
  font-size: 24px;
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  background-color: #1111c4;
}

.menu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}
.menu-container h2{
  margin: 0;
  margin-left: 20px;
}
.menuLinks{
  display: flex;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  width: 430px;
}

.menuLinks a{
  text-decoration: none;
  color: #8d8d8d;
}

.card{
  margin-left: 20px;
}

.card-container{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  padding: 20px;
}

.card-container h2,h3{
  margin: 0px;
  padding: 5px;
}

.card-container h3{
  
  color: #8d8d8d;
}

.cardLinks{
  display: flex;
  gap: 15px;
}

.cardLinks a{
  text-decoration: none;
  color: #419dd0;
}